/pretrained.zip
/test107voice.mp4
/yolo11x-pose.pt
/__pycache__
/event_clips
/llm_results
/configs/stream_config.yaml
/pretrained
/utils/__pycache__
/model/__pycache__
/utils/llm_utils/__pycache__
test_video_for_oss.mp4
test108voice.mp4
/test.mp4
/Yolo+SkateFormer.7z
/yolo11m-pose.pt
/只包含行为检测片段.mp4
